<div class="count">Ходы: {{this.gameService.count}} Время: {{this.gameService.time}}</div>


<div class="game">
  <ng-container *ngFor="let card of this.gameService.cards ">
    <app-card [card]="card" >
    </app-card>
  </ng-container>
</div>


<app-modal *ngIf="modalShow" (click)="startGame()" title="Игра 'Найди пару'">

</app-modal>

<app-modal *ngIf="this.gameService.win" (click)="restartGame()" title="Вы выиграли">

  <div class="modal__info">
    <span>Ходы: {{this.gameService.count}} </span>
    <span>Время: {{this.gameService.time}}</span>
  </div>

</app-modal>






