.game {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0  auto;
  justify-content: space-between;
}

app-card {
  width: 15.66666%;
  max-height: 95px;
  height: 13vw;
  margin-bottom: 10px;
}

.count {
  padding: 5px 0;
  font-size: 24px;
  text-align: center;
}

.modal__button {
  padding: 10px 50px;
  align-self: center;
  margin: 30px 0;
  background-color: #7be5ac;
  border: none;
}


.modal__button:hover {
  cursor: pointer;
  background-color: #a7e3c3;
}
