.game {
  display: grid;
  width: 75%;
  height: 635px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 1px;
}

app-card {
  width: 100%;
  max-height: 95px;
  height: 100%;
  margin-bottom: 10px;
}

.count {
  padding: 5px 0;
  font-size: 24px;
  text-align: center;
}

.modal__button {
  padding: 10px 50px;
  align-self: center;
  margin: 30px 0;
  background-color: #7be5ac;
  border: none;
}


.modal__button:hover {
  cursor: pointer;
  background-color: #a7e3c3;
}
