<div class="count">Ходы: {{this.countService.count | async}} Время: {{this.timeService.formattedTime | async}}</div>


<div class="game">
    <app-card *ngFor="let card of this.gameService.cards " [card]="card" >
    </app-card>
</div>


<app-modal *ngIf="modalShow" (click)="startGame()" title="Игра 'Найди пару'">

</app-modal>

<app-modal *ngIf="this.gameService.win" (click)="restartGame()" title="Вы выиграли">

  <div class="modal__info">
    <span>Ходы: {{this.countService.count | async}} </span>
    <span>Время: {{this.timeService.formattedTime | async}}</span>
  </div>

</app-modal>






