.card {
  width: 70%;
  height: 100%;
  color: #000;
  position: relative;
  font-size: 24px;
}


.back,
.front {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  background-color: #fff;
}


.back img {
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

